<div class="sidebar">
  <h2>Admin</h2>
  <ul>
    <li><a href="/admin/dashboard">DASHBOARD</a></li>
    <li><a href="/admin/Business-management">BUSINESS MANAGEMENT</a></li>
    <li><a href="/admin/dp-staff">STAFF MANAGEMENT</a></li>
    <li><a href="/admin/Accounts-management">ACCOUNTS</a></li>
    <li><a href="/admin/Accounts-management">ADD AN EXPENSE</a></li>
    <li><a href="/admin/logout">Logout</a></li>
  </ul>
</div>
